body{
    background-color: black;
}

#baner{
    position: fixed;
    width: 100vw;
    margin: auto;
    text-align: center;
    background-color: darkslategray;
    color: black;
    font-size: large;
    border: 5px;
    border-color: black;
}

#baner a{
    text-decoration: none;
    color:black;
}
#baner ul{
    list-style: none;
}
#baner li{
    display: inline;
    color: black;
}
#stopka{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: darkslategray;
    text-align: center;
    font-weight:bold;
}
#nawigacja{
    margin: auto;
    top:0px;
    height: 700px;
    position:absolute;
    text-align: center;
    background-color: darkslategray;
    color: black;
    font-size: large;
    border-color: black;
    border: 5px;
}
